body
{
    background-image: url("Assets/Images/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.grid-container 
{
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 20px;
    margin-top: -4px;
    margin-left: -40px;
    margin-right: -40px;
}

.grid-item
{
    background-color: #3566e0;
    padding: 20px;
    text-align: center;
    color:white;
    font-size: 30px;
    font-family:cursive;
}

a.grid-item
{
    transition: 0.1s;
    background-color:#5AB9EA;
    text-shadow:2px 2px 0 #3566e0;
    text-decoration: none;
    
}

a.grid-item:hover
{
    transition: 0.1s;
    background-color: #3566e0;
}

img
{
    width: 100%;
}

h1
{
    background-color:#5AB9EA;
    border-radius: 400px;
    display: block;
    padding:20px;
    color:white;
    font-family: cursive;
    font-size: 50px;
    text-shadow:2px 2px 0 #3566e0;
}

p
{
    color:white;
    font-size: 30px;
    font-family:cursive;
    width: 500px;
    background-color:#5AB9EA;
    text-shadow:2px 2px 0 #3566e0;
    border-radius: 20px;
    display: block;
    padding:20px;
    margin-right: auto;
    margin-left: auto;
    line-height: 40px;
}

a p
{
    transition: 0.1s;
    background-color: #3469a2;
}

a p:hover
{
    transition: 0.1s;
    background-color: #213e85;
}

.projectIcon
{
    width: 500px;
    transform: scale(1);
    display:block;
    margin-right: auto;
    margin-left: auto;
    transition: 0.1s;
}

.projectIcon:hover
{
    box-shadow: 0 0 5px 5px #3566e0;
    transform: scale(1.05);
    transition: 0.1s;
}

dd
{
    color:white;
    font-size: 24px;
    font-family: cursive;
    line-break: 5;
    width: 400px;
    background-color:#5AB9EA;
    border-radius: 20px;
    display: block;
    padding:20px;
    margin-right:auto;
    margin-left:auto;
    text-shadow: 2px 2px 0 #3566e0;
}
