.logos
{
    position: fixed;
    width: 8%;
    height: 16%;
    filter: drop-shadow(6px 6px 1px rgb(68, 68, 68));
    scale: 1;
    transition: 0.1s;
}

.logos:hover
{
    scale: 1.2;
    filter: drop-shadow(12px 12px 5px rgb(76, 76, 76));
    transition: 0.1s;
}

.godot-logo
{top: 6%; left: 3%; filter:brightness(0%) opacity(25%) grayscale(50%) blur(3px) drop-shadow(4px 4px 3px #FFFFFF);}

.aseprite-logo
{top: 6%; right: 3%;}

.unity-logo
{bottom: 6%; left: 3%;}

.blender-logo
{bottom: 6%; right: 3%; filter:brightness(0%) opacity(40%) grayscale(50%) blur(3px) drop-shadow(4px 4px 3px #FFFFFF);;}


body
{
    background-color: rgb(103, 126, 147);
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 20px;
    line-height: 1.6em;
    margin: 0;
}

.content
{
    background-color: #88a4c4;
    box-shadow: 15px 0px 15px #415470, -15px 0px 15px #415470;
    width: 70%;
    height: 100%;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 1%;
    position: relative;
} 

.home-button
{
    text-align:center;
    font-size: 24px;
    text-decoration: underline;
    color: black;
    transition: 0.1s;
}

.project-trailer-container
{
    position: relative;
    width: 75%;
    margin:auto;
}

.project-trailer
{
    position: relative;
    width: 100%;
    margin:auto;
    box-shadow: 15px 0px 15px #4f6b9e, -15px 0px 15px #4f6b9e;
}

.project-outline
{
    position: relative;
    text-align: center;
}

.project-title
{

}

.project-description
{
    width: 80%;
    margin: auto;
}

.game-link
{
    background-color: #5bba5b;
}

.credit-link
{
    text-decoration: underline;
    font-size: 22px;
    color: rgb(0, 0, 0);
    transition: 0.1s;
}

.credit-link:hover
{
    color: rgb(136, 209, 255);
    transition: 0.1s;
}

.play-link
{
    display: inline-block;
    text-decoration: underline;
    font-size: 22px;
    color: rgb(0, 0, 0);
    transition: 0.1s;
}

.play-link:hover
{
    color: rgb(136, 209, 255);
    font-size: 26px;
    transition: 0.1s;
}

.project-gif
{
    grid-area: gif;
    float:right;
}

.project-note
{
    grid-area: note;
    float:left;
}

.project-grid
{
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-content: space-around;
    display: grid;
    grid: 
    'note gif'
    'note gif'
    'note gif';
    gap: 5%;
}

.team-link a:link
{
    text-decoration: none;
    color:#3592d5
}
.team-link a:visited
{
    text-decoration: none;
    color:#3592d5
}