.logos
{
    position: fixed;
    width: 8%;
    height: 16%;
    filter: drop-shadow(12px 12px 3px rgb(68, 68, 68));
}

.godot-logo
{top: 6%; left: 3%; filter:brightness(0%) opacity(25%) grayscale(50%) blur(3px) drop-shadow(4px 4px 3px #FFFFFF);}

.aseprite-logo
{top: 6%; right: 3%;}

.unity-logo
{bottom: 6%; left: 3%;}

.blender-logo
{bottom: 6%; right: 3%; filter:brightness(0%) opacity(40%) grayscale(50%) blur(3px) drop-shadow(4px 4px 3px #FFFFFF);;}


body
{
    background-color: rgb(103, 126, 147);
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.content
{
    background-color: #88a4c4;
    box-shadow: 15px 0px 15px #415470, -15px 0px 15px #415470;
    width: 70%;
    height: 100%;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 1%;
    position: relative;
} 

.project-trailer-container
{
    position: relative;
    width: 75%;
    margin:auto;
}

.project-trailer
{
    position: relative;
    width: 100%;
    margin:auto;
    box-shadow: 15px 0px 15px #4f6b9e, -15px 0px 15px #4f6b9e;
}